.navbar {
  position: sticky;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  top: 2px;
  max-width : 80vw;
}

.navbar_content {
  background-color: cyan;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  gap: 5%;
  width : 70%;
  /* left : 50%; */
  height: 5vh;
  align-items: center;
}

.login-button {
}
